runner: time_interpolator

input:
  cutout:
    - lam_0:
        grib:
          path: forecaster/20*
          pre_processors:
            - extract_mask: "source0/trimedge_mask"
          namer:
            rules:
              - - shortName: T
                - t_{level}
              - - shortName: U
                - u_{level}
              - - shortName: V
                - v_{level}
              - - shortName: W
                - w_{level}
              - - shortName: QV
                - q_{level}
              - - shortName: FI
                - z_{level}
              - - shortName: PMSL
                - msl
              - - shortName: FIS
                - z
              - - shortName: PS
                - sp
              - - shortName: T_2M
                - 2t
              - - shortName: TD_2M
                - 2d
              - - shortName: T_G
                - skt
              - - shortName: U_10M
                - 10u
              - - shortName: V_10M
                - 10v
              - - shortName: FR_LAND
                - lsm
              - - shortName: TOT_PREC
                - tp
    - global:
        grib:
          path: forecaster/ifs*
          namer:
            rules:
              - - shortName: T
                - t_{level}
              - - shortName: U
                - u_{level}
              - - shortName: V
                - v_{level}
              - - shortName: W
                - w_{level}
              - - shortName: QV
                - q_{level}
              - - shortName: FI
                - z_{level}
              - - shortName: PMSL
                - msl
              - - shortName: FIS
                - z
              - - shortName: PS
                - sp
              - - shortName: T_2M
                - 2t
              - - shortName: TD_2M
                - 2d
              - - shortName: T_G
                - skt
              - - shortName: U_10M
                - 10u
              - - shortName: V_10M
                - 10v
              - - shortName: FR_LAND
                - lsm
              - - shortName: TOT_PREC
                - tp

constant_forcings:
  test:
    use_original_paths: true

patch_metadata:
  dataset:
    constant_fields: [z, lsm]

output:
  tee:
    outputs:
      - extract_lam:
          output:
            assign_mask:
              mask: "source0/trimedge_mask"
              output:
                grib:
                  path: grib/{dateTime}_{step:03}.grib
                  encoding:
                    typeOfGeneratingProcess: 2
                  templates:
                    samples: resources/templates_index_cosmo.yaml
      - grib:
          path: grib/ifs-{dateTime}_{step:03}.grib
          encoding:
            typeOfGeneratingProcess: 2
          templates:
            samples: resources/templates_index_ifs.yaml
          post_processors:
          - extract_mask:
              mask: "lam_0/cutout_mask"
              as_slice: true
              inverse: true # removes lam points
          - assign_mask:
              mask: "global/cutout_mask" # fill local/global overlapping points with nan


verbosity: 1
allow_nans: true
output_frequency: "1h"
