lead_time: 120h
write_initial_state: true
allow_nans: true

env:
  ANEMOI_INFERENCE_NUM_CHUNKS: 8 # OOM error if not set

# inputs
input:
  test:
    use_original_paths: true


# outputs
output:
  tee:
    - grib:
        path: grib/{date}{time:04}_{step:03}.grib
        encoding:
          typeOfGeneratingProcess: 2
          centre: lssw
        templates:
          samples: resources/templates_index_icon.yaml
        post_processors:
          - extract_mask: # removes global points
              mask: "lam_0/cutout_mask"
              as_slice: true
    - grib:
        path: grib/ifs-{date}{time:04}_{step:03}.grib
        encoding:
          typeOfGeneratingProcess: 2
          centre: ecmf
        templates:
          samples: resources/templates_index_ifs.yaml
        post_processors:
        - extract_mask: # removes lam points
            mask: "lam_0/cutout_mask"
            as_slice: true
            inverse: true
        - assign_mask: # fill local/global overlapping points with nan
            mask: "global/cutout_mask"

patch_metadata: resources/sgm-ich1-oper-patch_metadata.yaml
