input:
  training:
    use_original_paths: true

allow_nans: true


output:
  grib:
    path: grib/{dateTime}_{step:03}.grib
    encoding:
      typeOfGeneratingProcess: 2
    templates:
      samples: resources/templates_index_cosmo.yaml
    post_processors:
      - extract_mask: # removes global points
          mask: "source0/cutout_mask"
          as_slice: true

write_initial_state: true
