# yaml-language-server: $schema=../workflow/tools/config.schema.json
description: |
  Experiment with COSMO-1E emulators finetuned on COSMO-1E analysis
  (KENDA-1) at 1km resolution.

dates:
  start: 2024-01-01T12:00
  end: 2024-01-10T00:00
  frequency: 54h

runs:
  - forecaster:
      checkpoint: 2174c939c8844555a52843b71219d425
      label: Cosmo 1km + era5 N320, finetuned on cerra checkpoint, lam resolution 11
      config: resources/inference/configs/sgm-forecaster-regional_fromtraining.yaml
      steps: 0/120/6
      inference_resources:
        gpu: 4
        tasks: 4
      extra_requirements:
        - git+https://github.com/ecmwf/anemoi-inference.git@main

baselines:
  - baseline:
      baseline_id: COSMO-1E
      label: COSMO-1E
      root: /store_new/mch/msopr/ml/COSMO-1E
      steps: 0/33/6

analysis:
  label: COSMO KENDA
  analysis_zarr: /scratch/mch/fzanetta/data/anemoi/datasets/mch-co1e-an-archive-0p01-2019-2024-1h-v1-pl13.zarr

stratification:
  regions:
    - jura
    - mittelland
    - voralpen
    - alpennordhang
    - innerealpentaeler
    - alpensuedseite
  root: /scratch/mch/bhendj/regions/Prognoseregionen_LV95_20220517

locations:
  output_root: output/

profile:
  executor: slurm
  global_resources:
    gpus: 16
  default_resources:
    slurm_partition: "postproc"
    cpus_per_task: 1
    mem_mb_per_cpu: 1800
    runtime: "1h"
    gpus: 0
  jobs: 50
  batch_rules:
    plot_forecast_frame: 32
