# yaml-language-server: $schema=../workflow/tools/config.schema.json
description: |
  Evaluate skill of COSMO-E emulator (M-1 forecaster).

dates:
  - 2020-02-03T00:00 # Storm Petra
  - 2020-02-07T00:00 # Storm Sabine
  - 2020-10-01T00:00 # Storm Brigitte

runs:
  - forecaster:
      mlflow_id: b30acf68520a4bbd8324c44666561696
      label: stage_C_icon_1km
      steps: 0/120/6
      config: resources/inference/configs/sgm-forecaster-global-ich1.yaml
      disable_local_eccodes_definitions: true
      extra_dependencies:
        - git+https://github.com/ecmwf/anemoi-inference.git@main

baselines: [] # TODO: add ICON-CH1-EPS baseline when available

analysis:
  label: REA-L-CH1
  analysis_zarr: /store_new/mch/msopr/ml/datasets/mch-realch1-fdb-1km-2005-2025-1h-pl13-v1.0.zarr

stratification:
  regions:
    - jura
    - mittelland
    - voralpen
    - alpennordhang
    - innerealpentaeler
    - alpensuedseite
  root: /scratch/mch/bhendj/regions/Prognoseregionen_LV95_20220517

locations:
  output_root: output/
  mlflow_uri:
    - https://servicedepl.meteoswiss.ch/mlstore
    - https://mlflow.ecmwf.int

profile:
  executor: slurm
  global_resources:
    gpus: 16
  default_resources:
    slurm_partition: "postproc"
    cpus_per_task: 1
    mem_mb_per_cpu: 1800
    runtime: "1h"
    gpus: 0
  jobs: 50
