[project]
name = "anemoi-inference-env"
version = "0.1.0"
requires-python = "==3.12.*"
dependencies = [
  "torch",
  "torchvision",
  "torchaudio",
  "anemoi-datasets",
  "anemoi-graphs",
  "anemoi-inference",
  "anemoi-models",
  "anemoi-transform",
  "anemoi-utils",
  "eccodes==2.38.3",
  "eccodes-cosmo-resources-python"
]

[tool.uv.sources]
torch = { index = "pytorch" }
torchvision = { index = "pytorch" }
torchaudio  = { index = "pytorch" }

[[tool.uv.index]]
name = "pytorch"
url = "https://download.pytorch.org/whl/cu124"  # need to couple torch with the correct cuda driver (cudatoolkit version) otherwise torch will be build but it won't be able to access GPUs. Won't throw any errors though!
explicit = true
